.grass {
    background: 'transparent';
}

.play {
    .sub-title{
        color: white;
    }

    button {
        font-size: 14px;
        color: var(--accent-color1);
        background-color: var(--background);
        padding: 1rem 3rem;
        font-weight: bold;
        border-radius: 2rem;
        border: solid 3px transparent;
        background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
          ),
          linear-gradient(101deg, var(--pink), var(--orange));
        background-origin: border-box;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px var(--background) inset;
        cursor: pointer;
        transition: 0.5s ease-in-out;
        &:hover {
          box-shadow: none;
        }
      }
}